<ul class="nav" ng-class="navClass">
    <li class="nav-item"
        ng-repeat="item in menuItems | orderBy:'weight'"
        ng-include="'template/eeh-menu/nav-bs4-menu-item.html'"
        ng-if="item.isVisible()"
        uib-dropdown
        eeh-menu-active-menu-item="item"></li>
</ul>

<script type="text/ng-template" id="template/eeh-menu/nav-bs4-menu-item.html">
    <a class="nav-link"
       ng-if="!item.isDivider && item.state"
       ui-sref="{{ item.state }}"
       ui-sref-active-eq="active">
        <span eeh-menu-menu-item-content="item"></span>
    </a>
    <a class="nav-link" ng-if="item.click" ng-click="item.click()">
        <span eeh-menu-menu-item-content="item"></span>
    </a>
    <a class="nav-link" ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span eeh-menu-menu-item-content="item"></span>
    </a>
    <a class="nav-link" ng-if="item.hasChildren()" uib-dropdown-toggle>
        <span class="icon-fw {{ iconBaseClass() }} {{ item.iconClass }}"></span>
        <span> {{ item.text|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul ng-if="item.hasChildren()" uib-dropdown-menu>
        <li class="nav-item dropdown-item"
            ng-repeat="item in item.children()|orderBy:'weight'"
            ng-class="{'dropdown-divider': item.isDivider}"
            ng-include="'template/eeh-menu/navbar-bs4-menu-item.html'"
            ng-if="item.isVisible()"></li>
    </ul>
</script>
